.index {
  width: 100%;
  height: 80vh;
  background-color: white;
  margin-top: 50px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.background {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

}

.title {
  font-size: 60px;
  text-align: center;
}

.RowTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RowBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.benner {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 400px;
  height: 150px;
  margin: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.benner:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}

.photoProfil {
  display: flex;
  flex-direction: row;
  padding: 35px;
}

.photoProfil p {
  margin-left: 15px;
  font-weight: bold;
}