.footer {
    width: 100%;
    height: 120px;
    background-color: #131313;
    padding-top: 10px;  
  }
  
  .socialMedia svg {
    color: white;
    margin-top: 0;
    margin-right: 21px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Medsos {
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    
  }
  
  .copyright {
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }