.footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: 120px;
    background-color: #131313;
    padding-top: 10px;
  }
  
  .footer_left {
    width: 100%;
  }

  .footer_left p {
    color: white;
    float: right;
    margin-right: 20px;
  }
  
  .footer_left img {
    width: 150px;
    height: auto;
    margin-top: 10px;
  }

  .footer_right {
    width: 100%;
  }

  .footer_right svg {
    color: white;
    margin-top: -10px;
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 20px;
  }
  
  .footer_right p {
    color: white;
    margin: 20px;
    justify-content: left;
    align-items: center;
  }