.home {
    width: 100%;
    height: 90vh;
    background-color: white;
  }
  .home img {
    width: 50%;
    height: auto;
    display: flex;
    float: right;
    justify-content: center;
    flex-direction: row;
    align-items: right;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headerContainer {
    width: auto;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 0px;
    font-weight: 0px;
    color: black;
  }
  .headerContainer h2 {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 0px;
    font-weight: 10px;
    color: black;
  }
  .headerContainer p {
    padding: 0;
    font-size: 20px;
    font-weight: lighter;
    color: black;
  }

  .headerContainer a {
    width: 160px;
  }

  .headerContainer button {
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    background-color: #CC2424;
    height: 45px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #C73139;
    cursor: pointer;
    transition: 0.3s ease-in;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px ;
      height: 30px;
      color: white;
    }
    .headerContainer h2 {
      font-size: 20px ;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button {
      background-color: #CC2424;
      color: white;
      margin-bottom: 30px;  
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }